<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Evaluation Page</title>

    <!-- CSS-->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/grid.css}">
    <link rel="stylesheet" th:href="@{/assets/css/base.css}">

    <!-- Framework-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/3.5.8/css/star-rating.css}">

    <!-- Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="@{/assets/icon/themify-icons/themify-icons.css}">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- Library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<div id="main">
    <header th:replace="~{layout/header::header}"></header>

    <div class="header__footer">
        <div class="container d-flex align-item-center justify-content-between">
            <h3 class="left-area">
                <span>Evaluation</span>
            </h3>

            <div class="right-area">
                <a href="/">
                    <i class="fas fa-home"></i>
                    Home
                </a>

                <i class="right ti-angle-right"></i>
                <span>Evaluation</span>
            </div>
        </div>
    </div>

    <!-- Content feedback -->
    <div class="feedback__content section">
        <div class="container">
            <div class="row-grid">
                <div class="col-grid l-grid-4">
                    <div class="feedback__content-product product__detail-container">
                        <img th:src="${product.image}">

                        <div class="info mt-4">
                            <h3 class="name" th:text="${product.name}"></h3>
                            <div class="rate">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span class="reviews">
                            <span>Reviews: </span>
                            <span>39</span>
                        </span>
                                <span class="sold">
                            <span>Sold: </span>
                            <span th:text="${quantitySold}"></span>
                        </span>
                            </div>

                            <div class="price">
                                <div th:if="${product.promotion == null}">
                                    <span>$</span>
                                    <span th:text="${product.getPrice()}"></span>
                                </div>

                                <div th:if="${product.promotion != null}">
                                    <span class="price__old">$</span>
                                    <span th:text="${product.getPrice()}" class="price__old"></span>
                                </div>
                                <div th:if="${product.promotion != null}" class="d-flex align-items-center">
                                    <span>$</span>
                                    <span th:text="${@formatNumberRound.roundNumber(product.price , product.promotion.percent)}"></span>

                                    <div class="sale__detail ml-3 d-flex align-items-center">
                                        <span>(</span>
                                        <span th:text="${#numbers.formatDecimal(product.promotion.percent , 0 , 'COMMA', 0, 'POINT')}"></span>
                                        <span>% off)</span>
                                    </div>
                                </div>
                            </div>

                            <p class="type">
                                <span>Type: </span>
                                <span style="font-weight: 600;" th:text="${product.category.name}"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-grid l-grid-8">
                    <form class="form__evaluate" th:action="@{/{id}/user/evaluation-product(id=${product.id})}"
                          method="post">
                        <h3 style="font-size: 2.4rem;">Form Evaluate</h3>

                        <div class="rate">
                            <input value="0" style="cursor:pointer;" name="rating" type="hidden" class="rating" data-glyphicon="0">
                        </div>

                        <div class="d-flex align-items-center">
                            <input type="text" class="input mr-3" th:value="${session.user.name}"
                                   placeholder="Username">
                            <input type="email" class="input ml-3" th:value="${session.user.email}" placeholder="Email">
                        </div>
                        <textarea name="feedbackMsg" class="input feedback-msg" cols="50" rows="10" required placeholder="Enter your experience . . ."></textarea>

                        <div class="d-flex justify-content-end">
                            <button type="submit" class="button btn-feedback">Send Feedback</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{layout/footer::footer}"></footer>
</div>
<script th:src="@{	https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/3.5.8/js/star-rating.min.js}"></script>
</body>
</html>