<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History Page</title>

    <!-- CSS-->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/grid.css}">
    <link rel="stylesheet" th:href="@{/assets/css/base.css}">

    <!-- Framework-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="@{/assets/icon/themify-icons/themify-icons.css}">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
<div id="main">
    <div class="header-wrapper">
        <header th:replace="~{layout/header::header}"></header>

        <div class="header__footer">
            <div class="container d-flex align-item-center justify-content-between">
                <h3 class="left-area">
                    <span>History</span>
                </h3>

                <div class="right-area">
                    <a href="/">
                        <i class="fas fa-home"></i>
                        Home
                    </a>

                    <i class="right ti-angle-right"></i>
                    <span>History</span>
                </div>
            </div>
        </div>
    </div>

    <div class="history__content">
        <div class="container section">
            <div class="row-grid">
                <div class="col-grid l-grid-4">
                    <div class="personal-info__history">
                        <h3 class="name" th:text="${session.user.name}"></h3>

                        <ul class="function-history-list mt-5">
                            <li>
                                <a class="button btn-history" th:href="@{/{id}/personal-info(id=${customer.id})}">
                                    Personal Information
                                </a>
                            </li>

                            <li>
                                <a class="button active btn-history" th:href="@{/{id}/history(id=${session.user.id})}">
                                    List Orders
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-grid l-grid-8">
                    <div th:if="${orders.size() == 0}" class="d-flex align-items-center justify-content-center flex-column">
                        <img src="/assets/img/product/no-orders.png">
                        <p class="mt-4 h3">No orders yet</p>
                    </div>

                    <div th:if="${orders.size() > 0}" class="info-orders">
                        <h3 class="title">
                            <span>Your Orders: </span>
                            <span th:text="${quantityOrder}"></span>
                            <span>orders</span>
                        </h3>

                        <div th:each="order : ${orders}" class="orders-body">
                            <div class="header-order">
                                <div>
                                    <div class="order_id">
                                        <span>#</span>
                                        <span th:text="${order.id}"></span>
                                    </div>
                                    <div class="time" th:text="${#temporals.format(order.localDate,'dd-MM-yyyy')}"></div>
                                </div>

                                <span th:if="${!order.status}" class="confirm">Chưa xác nhận</span>
                                <span th:if="${order.status}" class="confirm">Đã xác nhận</span>
                            </div>

                            <ul class="order-items-list">
                                <li th:each="orderDetail : ${orderDetails.getOrderDetailByUserId(customer.id , order.id)}">
                                    <img th:src="${orderDetail.product.image}">

                                    <div class="content">
                                        <div>
                                            <h3 class="name">Surface</h3>
                                            <div class="quantity">
                                                <span>x</span>
                                                <span th:text="${orderDetail.quantity}">1</span>
                                            </div>

                                            <span class="type" th:text="${orderDetail.product.category.name}"></span>
                                            <div class="price mt-3">
                                                <span>$</span>
                                                <span th:text="${orderDetail.quantity * orderDetail.product.price}"></span>
                                            </div>
                                        </div>

                                        <a class="order-items-link" th:href="@{/{id}/user/evaluation-product(id=${orderDetail.product.id})}">Review Product</a>
                                    </div>
                                </li>
                            </ul>

                            <div class="order-items-footer">
                                <span class="text">Total Orders: </span>
                                <div class="price">
                                    <span>$</span>
                                    <span th:text="${totalPrice.totalPrice(order.id , orderDetails.getOrderDetailByUserId(customer.id , order.id))}"></span>
                                </div>

                                <button th:if="${!order.status}" style="margin: 0 0 0 12px;" data-target="#delete" data-toggle="modal" class="btn-danger button btn-checkout">Cancel order</button>
                            </div>

                            <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <form th:action="@{/{orderId}/history/cancel-order(orderId=${order.id})}" method="post"
                                      class="modal-dialog h-100 w-100 d-flex align-items-center" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title" id="exampleModalLabel">Remove</h3>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true" style="font-size: 1.5rem">&times;</span>
                                            </button>
                                        </div>
                                        <div style="font-size: 1.5rem" class="modal-body">
                                            Do you want to remove user?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" style="font-size: 1.5rem" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger" style="font-size: 1.5rem">Remove</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{layout/footer::footer}"></footer>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</html>