<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Footer</title>
    </head>
    <body>
        <footer th:fragment="footer">
            <div class="footer">
                <div class="container">
                    <div class="row-grid">
                        <div class="l-grid-3">
                            <div class="single-footer f-contact">
                                <h3 class="header">Get In Touch With Us</h3>

                                <ul class="f-contact-list">
                                    <li>Phone: +1 (900) 33 169 7720
                                    </li>

                                    <li>Monday-Friday:
                                        <br/>
                                        9.00 am - 8.00 pm
                                    </li>

                                    <li>Saturday:
                                        <br/>
                                        10.00 am - 6.00 pm
                                    </li>

                                    <li>support@ngocloc.com
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="l-grid-3">
                            <div class="single-footer f-download">
                                <h3 class="header">Our Mobile App</h3>

                                <ul class="f-download">
                                    <li>
                                        <a href="">
                                            <i class="fab fa-apple"></i>
                                            <div class="content">
                                                <span class="small-title">Download on the</span>
                                                <span class="big-title">App Store</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="">
                                            <i class="fab fa-google-play"></i>
                                            <div class="content">
                                                <span class="small-title">Download on the</span>
                                                <span class="big-title">Google Play</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="l-grid-3">
                            <div class="single-footer f-info">
                                <h3 class="header">Information</h3>

                                <ul class="f-info">
                                    <li>
                                        <a href="">About Us</a>
                                    </li>

                                    <li>
                                        <a href="">Contact Us</a>
                                    </li>

                                    <li>
                                        <a href="">Downloads</a>
                                    </li>

                                    <li>
                                        <a href="">Sitemap</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="l-grid-3">
                            <div class="single-footer f-department">
                                <h3 class="header">Shop Departments</h3>

                                <ul class="f-department">
                                    <li>
                                        <a href="">Computers & Accessories</a>
                                    </li>

                                    <li>
                                        <a href="">Contact Us</a>
                                    </li>

                                    <li>
                                        <a href="">Downloads</a>
                                    </li>

                                    <li>
                                        <a href="">Sitemap</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div th:fragment="footer__admin">
            <div class="d-flex align-items-center justify-content-between p-5 b-col bg-white" style="    margin-top: 12px;border: 1px solid #dadada;">
                <span style="font-size: 1.4rem;color: #6c757d; font-weight: 400;">
                    2020 © DTU.
                </span>

                <span style="font-size: 1.4rem;color: #6c757d; font-weight: 400;">Design & Develop by Tuan</span>
            </div>
        </div>
    </body>
</html>